---
layout: index
isindex: true
---

<header class="index-header pt-4 pb-4 bg-dark">
    <div class="container text-center">
        <h1 class="text-center main-logo"><a href="{{ site.baseurl }}">GoyoBot</a></h1>
        <span class="text-center mx-auto main-description">Grupo de robótica del CEC <a href="https://gregoriofer.com">Gregorio Fernández</a></span>

        <div class="social">
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a> · 
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</header>


<section class="equipos-section mx-auto pt-5 pb-5">
    <div class="container">
        <h2 class="text-center text-success index-section mb-0">Nuestros equipos</h2>
        <div class="row">
        {% assign teams = site.data.teams | where: 'type', 'student' %}
        {% for team in teams %}
            <div class="text-center col-md-6 mt-md-3 mt-5">
                <div>
                    <a href="{{ site.baseurl }}{{ team.page }}" role="button" class="btn btn-danger w-75" style="max-width: 500px;">{{ team.name }}</a>
                </div>
                <div class="mt-3"><!--
                -->{% assign authors = site.authors | where: 'team_id', team.id %}<!--
                -->{% for author in authors %}<!--
                -->{%   assign icon_file = "assets/img/members/default.png" %}<!--
                -->{%   if author.icon %}<!--
                -->{%     assign icon_file = author.icon %}<!--
                -->{%   endif %}<!--
                    --><a href="{{ site.baseurl }}{{ author.url }}"><img class="author-icon rounded-circle" src="{{ site.baseurl }}/{{ icon_file }}" alt="Icono de {{ author.shortname }}"></a><!--
                -->{% endfor %}<!--
                --></div>
            </div>
        {% endfor %}
        </div>
        <div class="text-center mt-5">
            <p style="margin-bottom: 7px;">Y además:</p><!--
            -->{% assign authors = site.authors | where: 'team_id', 'teacher' %}<!--
            -->{% for author in authors %}<!--
            -->{%   assign icon_file = "assets/img/members/default.png" %}<!--
            -->{%   if author.icon %}<!--
            -->{%     assign icon_file = author.icon %}<!--
            -->{%   endif %}<!--
                --><a href="{{ site.baseurl }}{{ author.url }}"><img class="author-icon rounded-circle" src="{{ site.baseurl }}/{{ icon_file }}" alt="Icono de {{ author.shortname }}"></a><!--
            -->{% endfor %}
        </div>
    </div>
</section>

<div class="bg-wrap">
<section class="nosotros-section bg bg-dark pt-5 pb-5">
    <div class="container mt-2">
        <div style="max-width: 800px;" class="mx-auto mr-auto ml-auto">
            <h2 class="text-center text-success index-section">Lo que nos mueve</h2>
            <div class="row">
                <div class="card col-sm-6 border-0 bg-transparent text-center">
                    <img class="card-img-top" src="https://image.flaticon.com/icons/svg/544/544542.svg" alt="Trabajo en equipo" height="150">
                    <div class="card-body">
                        <h4 class="card-title method-title text-danger">Colaboración</h4>
                        <p class="card-text">Quedamos <span class="text-primary">todas las semanas</span> para trastear <i>as a team</i>. Y frikear :-p</p>
                    </div>
                </div>
                <div class="card col-sm-6 border-0 bg-transparent text-center">
                    <img src="{{ site.baseurl }}/assets/img/slack-app-icon.png" alt="Slack logo" class="card-img-top slack-icon mx-auto">
                    <div class="card-body"> 
                        <h4 class="card-title method-title text-danger">Coodrinación</h4>
                        <p class="card-text">Somos miembros de diferentes ciclos y horarios, así que la <span class="text-danger">comunicación online</span> es fundamental, y Slack es nuestra solución.</p>
                    </div>
                </div>
                <div class="card col-sm-6 border-0 bg-transparent text-center">
                    <img class="card-img-top w-75 mx-auto octocat-icon" src="{{ site.baseurl }}/assets/img/Octocat.png" alt="GitHub Octocat logo">
                    <div class="card-body">
                        <h4 class="card-title method-title text-danger">Development</h4>

                        <p class="card-text">Usamos <span class="text-success">herramientas modernas</span> como GitHub para nuestros desarrollos. Nos <del>pasamos ficheros</del> hacemos <code>pull request</code>.</p>
                    </div>
                </div>
                <div class="card col-sm-6 border-0 bg-transparent text-center">
                    <img src="{{ site.baseurl }}/assets/img/ArduinoCommunityLogo.png" alt="Arduino community logo" class="card-img-top mx-auto arduino-icon">
                    <div class="card-body">
                        <h4 class="card-title method-title text-danger">Free as in freedom</h4>
                        <p class="card-text">El espíritu de <i>«cómo molaría hacer eso»</i> ha conducido a las mejores tecnologías sociales que conocemos, y sólo es posible con <span style="color: #6f42c1;">hardware y software libres</span>.</p>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</section>
</div>
    
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-8">
            <section>
                <h2 class="text-center text-success index-section">Blog</h2>
                {% include post-list.html posts=site.posts %}
            </section>
        {% comment %}
            {% if paginator.total_pages > 1 %}
            <nav aria-label="Navegación por las entradas del blog">
                <ul class="pagination justify-content-center">
                    <li class="page-item{% unless paginator.previous_page %} disabled{% endunless %}">
                        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <li class="page-item active"><span class="page-link">{{ page | pnumber }}</span></li>
                        {% elsif page == 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page | pnumber }} <span class="sr-only">(actual)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page | pnumber }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
                        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        {% endcomment %}
        </div>
        <div class="col-md-4 text-center">
            <section>
                <h2>&nbsp;</h2>
                <a class="twitter-timeline" data-width="400" data-height="1000" data-dnt="true" data-theme="light" href="https://twitter.com/goyobot?ref_src=twsrc%5Etfw">Tweets by goyobot</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
        </div>
    </div>
</div>

