---
layout: index
isindex: true
---

<div class="container mt-2">
    <header>
        <h1 class="text-center main-logo">GoyoBot</h1>
        <p class="text-center mx-auto main-description">¡Hola! Somos el grupo de robótica del Centro de Enseñanza <a href="https://gregoriofer.com">Gregorio Fernández</a> de Valladolid.</p>
    </header>
    <section class="mt-5 equipos-section mx-auto">
        <h2 class="text-center mb-4 mb-md-4 text-success index-section">Nuestros equipos</h2>
        <div class="row">
        {% assign teams = site.data.teams | where: 'type', 'student' %}
        {% for team in teams %}
            <div class="text-center col-md-6 mt-md-0 mt-4">
                <div>
                    <button type="button" class="btn btn-danger w-75" style="max-width: 500px;">{{ team.name }}</button>
                </div>
                <div class="mt-3">
                {% assign authors = site.authors | where: 'team_id', team.id %}
                {% for author in authors %}
                {%   assign icon_file = "assets/img/members/default.png" %}
                {%   if author.icon %}
                {%     assign icon_file = author.icon %}
                {%   endif %}
                    <a href="{{ site.baseurl }}{{ author.url }}"><img src="{{ site.baseurl }}/{{ icon_file }}" alt="Icono de {{ author.shortname }}" width="60" height="60" class="rounded-circle"></a>
                {% endfor %}
                </div>                         
            </div>
        {% endfor %}
        </div>
        <div class="text-center mt-4">
            <p style="margin-bottom: 7px;">Y además:</p>
            {% assign authors = site.authors | where: 'team_id', 'teacher' %}
            {% for author in authors %}
            {%   assign icon_file = "assets/img/members/default.png" %}
            {%   if author.icon %}
            {%     assign icon_file = author.icon %}
            {%   endif %}
                <a href="{{ site.baseurl }}{{ author.url }}"><img src="{{ site.baseurl }}/{{ icon_file }}" alt="Icono de {{ author.shortname }}" width="60" height="60" class="rounded-circle"></a>
            {% endfor %}
        </div>
    </section>
    <section style="max-width: 800px;" class="mx-auto mr-auto ml-auto mt-5">
        <div>
            <h2 class="text-center mt-4 mb-4 text-success index-section">Lo que nos mueve</h2>
            <div class="row">
                <div class="card col-sm-6 border-0 bg-transparent text-center">
                    <img class="card-img-top" src="https://image.flaticon.com/icons/svg/544/544542.svg" alt="Trabajo en equipo" height="150"> 
                    <div class="card-body"> 
                        <h4 class="card-title method-title text-danger">Colaboración</h4> 
                        <p class="card-text">Quedamos <span class="text-primary">todas las semanas</span> para trastear <i>as a team</i>. Y frikear :-p</p> 
                    </div>
                </div>
                <div class="card col-sm-6 border-0 bg-transparent text-center"> 
                    <img src="https://assets.brandfolder.com/p34392sa/v/641755/view.png" alt="Slack logo" class="card-img-top slack-icon mx-auto"> 
                    <div class="card-body"> 
                        <h4 class="card-title method-title text-danger">Coodrinación</h4>                                  

                        <p class="card-text">Somos miembros de diferentes ciclos y horarios, así que la <span class="text-danger">comunicación online</span> es fundamental, y Slack es nuestra solución.</p>                                  
                    </div>                             
                </div>
                <div class="card col-sm-6 border-0 bg-transparent text-center"> 
                    <img class="card-img-top w-75 mx-auto octocat-icon" src="{{ site.baseurl }}/assets/img/Octocat.png" alt="GitHub Octocat logo"> 
                    <div class="card-body"> 
                        <h4 class="card-title method-title text-danger">Development</h4>                                  

                        <p class="card-text">Usamos <span class="text-success">herramientas modernas</span> como GitHub para nuestros desarrollos. Nos <del>pasamos ficheros</del> hacemos <code>pull request</code>.</p>                                  
                    </div>                             
                </div>
                <div class="card col-sm-6 border-0 bg-transparent text-center"> 
                    <img src="{{ site.baseurl }}/assets/img/ArduinoCommunityLogo.png" alt="Arduino community logo" class="card-img-top mx-auto arduino-icon"> 
                    <div class="card-body"> 
                        <h4 class="card-title method-title text-danger">Free as in freedom</h4> 
                        <p class="card-text">El espíritu de <i>«cómo molaría hacer eso»</i> ha conducido a las mejores tecnologías sociales que conocemos, y sólo es posible con <span style="color: #6f42c1;">hardware y software libres</span>.</p> 
                    </div>                             
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <h2 class="text-center text-success index-section">Blog</h2>
        <article>
            <h3>Artículo</h3>
            <p>Paragraph</p>
        </article>
    </section>
    <nav aria-label="Navegación por las entradas del blog">
        <ul class="pagination justify-content-center"> 
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a>
            </li>                     
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>                     
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>                     
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>                     
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a>
            </li>                     
        </ul>
    </nav>
</div>
<footer class="bg-dark text-light pt-3" style="height: 100px;">
    <div class="container">
        <p>Here be dragons</p>
    </div>
</footer>
