<header class="index-header pt-4 pb-4 bg-dark">
    <div class="container text-center">
        <h1 class="text-center main-logo"><a href="{{ site.url }}">GoyoBot</a></h1>
        <span class="text-center mx-auto main-description">Grupo de robótica del CEC <a href="https://gregoriofer.com">Gregorio Fernández</a></span>
        <div class="social">
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i></a> · 
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</header>