{% comment %}
# 
# This file requires the input of the posts you want to be displayed.
# 
# All posts: include posts.html posts=site.posts
# Particular author: include posts.html posts=site.posts | where: 'author', 'author_name'
#
{% endcomment %}
{% for post in include.posts %}
{% assign author = site.authors | where: 'author_id', post.author %}
{% assign author = author[0] %}
<article class="mt-3 mb-5">
    <header class="mb-3">
        <h2 class="text-danger post-title mb-0">{{ post.title }}</h2>
        <span class="text-secondary">
        {% include date.html date=post.date class="float-left mr-1" %}
        <!-- <time pubdate datetime="" class="float-left mr-1">10 de enero</time> -->
        <address class="author mb-0">
            {% if author %}
                · <a rel="author" href="{{ site.baseurl }}{{ author.url }}">{{ author.shortname }}</a>
                {% assign the_teams = site.data.teams | where: 'id', author.team_id %}
            {% elsif post.author_team %}
                {% assign the_teams = site.data.teams | where: 'id', post.author_team %}
            {% endif %}
            {% for team in the_teams %}
                · {% if team.page %}<a href="{{ site.baseurl }}{{ team.page }}">{% endif %}
                    <span class="badge badge-danger">{{ team.name }}</span>
                {% if team.page %}</a>{% endif %}
            {% endfor %}
        </address>
        </span>
    </header>
    {{ post.content }}
</article>
{% endfor %}