---
layout: default
---
{% assign teams = site.data.teams | where: 'id', page.team_id %}
{% assign team = teams[0] %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ site.url }}">GoyoBot</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Equipo {{ team.name }}</li>
    </ol>
</nav>
<div class="container team-container">
    <div class="row mb-3">
        <div class="col-md-4 mb-2 text-center">
            <img class="team-logo" src="{{ site.baseurl }}{{ team.logo }}" alt="Logo de {{ team.name }}">
        </div>
        <div class="col-md-8 mt-4 text-center">
            <h2>{{ team.name }}</h2>
            <p>Miembros:</p>
            <div>
                {% assign members = site.authors | where: 'team_id', team.id %}
                {% include authors-img.html authors=members %}
            </div>
        </div>
    </div>
    {{ content }}
    
    <div class="container pt-5 pb-5">
{% if page.twitter_search %}
        <div class="row">
            <div class="col-md-8">
{% endif %}
                <section>
                    <h2 class="text-center text-success index-section">Entradas del equipo</h2>
                    {% assign posts = site.posts | where: 'author', team.team_id %}
                    {% include post-list.html posts=site.posts %}
                </section>
{% if page.twitter_search %}
            </div>
            <div class="col-md-4 text-center">
                <section>
                    <h2>&nbsp;</h2>
                    {{ page.twitter_search }}
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </section>
            </div>
        </div>
{% endif %}
    </div>
    
</div>
